*{
    font-family:'Roboto'
}

/* Início banner: imagens e texto a passar na página inicial*/
.slogan{
    font-weight: bold;
    color: white;
    font-size: 60px;
}

#banner-btn1{
    color: black;
    background-color: white;
    border: none;
  
}
#banner-btn2{
    color: white;
    background-color: transparent;
    border: 2px solid white;

}

#banner-btn2:hover{
    color: black;
    background-color: white;  
}
/*FIM banner*/


/*Formatação dos elementos da página inicial*/
#products-title{
    text-align: center;
    margin: 30px 0px 20px 0px;
}

#linha-horizontal-index{
    width: 13% ;
    height: 1.5px;
    margin: auto auto 30px auto  !important; 
}

#linha-horizontal-show{
    width: 70% ;
    height: 1.9px;
    margin: auto auto 30px auto  !important; 
}
/*FIM da Formatação dos elementos da página inicial*/

/*INíCIO Menu*/
#menu-principal{
    background-color: #F95008;
    border-bottom: 1px solid #D2691E;
}
#menu-principal a{
    color: white;
    text-decoration: bold;
    font-size: 18px;
}
#btn-pesquisar{
    color:#2F7A81;
    border: 1px solid #2F7A81;
}

#btn-laranja{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #F95008;
    border: 2 solid #2F7A81;
    border-radius: 4px;
}

#btn-laranja:hover{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #2F7A81;
    border: 2 solid #2F7A81;
    border-radius: 4px;
}

#btn-pesquisar:hover{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #2F7A81;
}  

#dropdown-menu-principal button{/*Formatação dos items do dropdown do menu principal*/
    background-color: #2F7A81;
}

#dropdown-1{
    background-color: #2F7A81;
}

#dropdown-1-items:hover{/*Fim da formatação dos items do dropdown do menu principal*/
    color: #F95008;
    background-color: #2F7A81;
}

#dropdown-menu-minha-conta button{/*Formatação dos items do dropdown do menu da conta do utilizador*/
    background-color: #2F7A81;
}

#dropdown-2{
    background-color: #2F7A81;
}

#dropdown-2-items:hover{/*Fim da formatação dos items do dropdown do menu da conta do utilizador*/
    color: #F95008;
    background-color: #2F7A81;
}

#menu-principal-item{/*Formatação dos items do menu principal quando passados o mouse*/
    transition: transform .3s;
}
#menu-principal-item:hover{
    transform:scale(1.1);
}

#menu-principal-item-logo{
    font-size: 20px;
  background: -webkit-linear-gradient(#0000CD, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-principal-item-logo{
    transition: transform .2s;
}

#menu-principal-item-logo:hover{/*Fim da formatação dos items do menu principal quando passados o mouse*/
    transform:scale(1.4);
}

/*FIM Menu*/


/*INICIO rodapes*/
#sticky-footer{
    background-color: #2F7A81;
}
.card-body h4{
    color: white;

}
#verBtn{
    color: black;
    background-color: white;
    border:none;
}

.card-body a:hover{
    text-decoration: none;
    color: black;
}

.card-body a{
    text-decoration: none;
    color: black;
}

#low-footer{
    background-color: #F95008;
}

#lowfooter-div{
    margin: 0px 0px 0px 0px;
}

/*FIM rodapes*/

/*INÍCIO detalhe de produtos*/
.card-body{
    background-color: #2F7A81;
    border: 0;
}

#card-prod-detail{
    background-color: #2F7A81;
    border: 0;
}

#product-detail-elements{/*depois de colocar a div toda no 
    centro, é necessário normalizar os seus elementos*/
    text-align: justify;
}

/*FIM detalhe de produtos*/


.row{
    margin: 0;
}
/*INICIO catalogo de produtos*/
#product-container{
    margin-top: 0px;
    padding: 0px;
 }

#product-title-show{
    color: #2F7A81;
    margin-top: 50px;
}

 /*
#product-container h4{
    margin-bottom: 10px;
 }

#cards-container{
    display: flex;
}
*/
#product-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5px;
    margin-bottom: 20px;
}

#img-prod-item{
    width: auto;
    height: auto;
}

#card-body-product{
    background-color: #81C9D1;
    border: 0;
}
#product-container img{
    max-height: 330px;
    border-radius: 10px;
}

#btn-normal{
    color:black;
    border: 1px solid #2F7A81;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

#btn-normal1{
    color:white;
    border: 1px solid #2F7A81;
    background-color: #2F7A81;
    margin-bottom: 3px;
    margin-top: 3px;
}

#btn-normal1:hover{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #338f99;
} 

#btn-normal:hover{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #F95008;
} 

#btn-normal2{
    color:black;
    border: 1px solid #2F7A81;
    background-color: white;
}
#btn-normal2:hover{
    color: white;
    border: 1px solid #2F7A81;
    background-color: #2F7A81;
} 
/*FIM catalogo de produtos*/

/* INICIO carousel de produtos aleatórios*/
#carousel-inner-prod{
    height: 440px;
    margin-bottom: 0px;
    text-decoration: none;
}


/*
#caption-img h3, h4{
    text-decoration: none;
    color: #F95008;
    text-shadow: 1px 1px 5px #2F7A81;
}
*/

#carousel-inner-prod p{
    margin-bottom: 10px;
}
#img-carousel{
    width: 400px;
    height: 300%;
}

#carrousel-show{
    background-color: red;
}

/* FIM carousel de produtos aleatórios*/

/* Formatação da flash sms*/
.msg{
    background-color: #2F7A81;
    color: #F95008;
    border: 1px splid #81C9D1;
    width: 100px;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;

}
/* Fim formatação da flash sms*/

/*Formatação dos elementos div interface e elementos da lateral da view contacto*/
#interface{
    display: block;
    width: 40%;
    float: left;
    border-right: 1px solid #808080;
}
#lateral{
    display: block;
    width: 60%;
    float: right;
}
#corpo{
    width: 100%;
}

#kitundaperson{
    width: 100%;
    height: 100%;
}
#formulario-contact{
    margin-left: 10px;
}

#contact-title{
    text-align: center;
    margin: 40px 0px 5px 0px;
    color: #136168;
}

/*FIM Formatação dos elementos div interface e elementos da lateral da view contacto*/

#icones-front{
    color: #136168;
}
#icones-detail{
    color: #08545c;
}
/*Formatação do icone no menu principal que se adequa ao dispositivo utilizado pelo utilizadior*/
#item-menu-botao{
    color: #08545c;
    background-color: #d0470c;;
}

#item-menu-botao1{
    color: #ff0606;
    background-color: #d0470c;
}

/*FIM da Formatação do icone no menu principal que se adequa ao dispositivo utilizado pelo utilizadior*/

/*Formatação dos indicadores do carrousel */
#indicador-carousel1, #indicador-carousel2, #indicador-carousel3{
    color: #F95008;
    background-color: #d0470c;
}
/*Fim Formatação dos indicadores do carrousel */
#car-team{
    margin: 0px 0px 20px 0px;
}



#product-sistema{
    width: 1000px;
}

#form-product-create{
    width: 500px;
    margin: 0px 0px 0px 40px;
}


#acessoloja{
    margin: 0px 10px 0px 0px;
}
/*Formatação dos icones / com seus botões*/
#button-hidden{
    color: #08545c;
    border: 1px solid #2F7A81;
    background-color: #2F7A81;
}

#button-hidden-welcome{
    color: #08545c;
    border: 1px solid #81C9D1;
    background-color: #81C9D1;
}


/*Formatação da photo do perfil na dashboard*/
#no-user-photo{
    width: 220px;
    height: 220px;
}